numpy==1.16.0
fastdtw==0.3.2
matplotlib>=2.0.2
requests>=2.18.4
scipy==1.4.1
tornado>=4.5.2
requests>=2.18.4
httplib2>=0.10.3
pytest>=3.4.2
scikit_learn>=0.23.2
pandas>=0.23.3
jwt
transformations
rstr