<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MoSi Web Viewer</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="{{ path_prefix }}assets/jquery-3.3.1.min.js"></script>
  <script src="{{ path_prefix }}assets/Unity/Build/UnityLoader.js"></script>
  <script src="{{ path_prefix }}assets/Unity/TemplateData/UnityProgress.js"></script>
  <script src="https://kit.fontawesome.com/34bb9f2671.js" crossorigin="anonymous"></script>
  <meta name='enableEditing' content='{{ str(enable_editing) }}'>
  <meta name='port' content='{{ server_port }}'>
  <meta name='activatePortForwarding' content='{{ str(activate_port_forwarding) }}'>
  <meta name='enableDownload' content='{{ str(enable_download) }}'>
  <style>html,body{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}*,:after,:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}body{font-family:Source Sans Pro,sans-serif;font-size:11pt}
  </style>
  <link rel="stylesheet" href="{{ path_prefix }}styles.css" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ path_prefix }}styles.css"></noscript>
</head>
<body>
  <app-root></app-root>
<script src="{{ path_prefix }}runtime.js" type="module"></script>
<script src="{{ path_prefix }}polyfills.js" type="module"></script>
<script src="{{ path_prefix }}main.js"  type="module"></script>
</body>
</html>
